# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Data & Repositories storage cache
data/
storage/
*.log

# Frontend build & modules
web/node_modules/
web/dist/
web/.vite/

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
